/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  background-image: url('assets/imgs/landscape.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}